<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" android:installLocation="internalOnly" package="com.taptaxi.terminal" platformBuildVersionCode="36" platformBuildVersionName="16">
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps"/>
    <queries>
        <package android:name="com.sygic.taxi"/>
        <package android:name="com.sygic.aura"/>
        <package android:name="net.osmand"/>
        <package android:name="com.mapfactor.navigator"/>
        <package android:name="com.waze"/>
        <package android:name="com.navitel"/>
        <package android:name="ru.yandex.yandexnavi"/>
        <package android:name="ru.yandex.yandexmaps"/>
        <package android:name="ru.dublgis.dgismobile"/>
        <package android:name="com.google.android.apps.maps"/>
        <intent>
            <action android:name="ru.yandex.yandexnavi.action.BUILD_ROUTE_ON_MAP"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="tg"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="geo"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="google.navigation"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="dgis"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="waze"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="waze"/>
        </intent>
        <intent>
            <action android:name="androidx.camera.extensions.action.VENDOR_ACTION"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-feature android:glEsVersion="0x00030000" android:required="true"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <permission android:name="com.taptaxi.terminal.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.taptaxi.terminal.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:debuggable="false" android:extractNativeLibs="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="com.soft373.taxi.App" android:networkSecurityConfig="@xml/network_security_config" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="false" android:theme="@style/NewTheme">
        <activity android:name="com.soft373.taxi.activities.LicenseGateActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.CheckLoadingActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.TestSoundsActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.AuthActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.OfflineOrderActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.NewSettingsActivity" android:theme="@style/NewTheme" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name="com.soft373.taxi.activities.SoundsSettingsActivity" android:theme="@style/NewTheme" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name="com.soft373.taxi.activities.MainMenuActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.ParkingsActivity" android:theme="@style/NewTheme"/>
        <activity android:exported="true" android:name="com.soft373.taxi.activities.IntroActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.soft373.taxi.activities.SplashActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.RestoreActivity" android:theme="@style/NewTheme"/>
        <activity android:configChanges="orientation|screenLayout|screenSize" android:name="com.soft373.taxi.bridge.activities.RestoreBridgeActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.RestoreCityActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.registration.RegistrationSelectorActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.registration.RegistrationCarActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.registration.RegistrationSelectFeatureActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.registration.RegistrationProgressActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.registration.RegistrationStartActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.registration.RegistrationStartConfirmationActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.registration.RegistrationPersonalActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.registration.RegistrationHomeCityActivity" android:theme="@style/NewTheme" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.soft373.taxi.activities.registration.RegistrationPassportActivity" android:theme="@style/NewTheme" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.soft373.taxi.activities.registration.RegistrationDriverLicenseActivity" android:theme="@style/NewTheme" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.soft373.taxi.activities.registration.RegistrationVehicleRegistrationCertificateActivity" android:theme="@style/NewTheme" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.soft373.taxi.activities.registration.RegistrationTaxiLicenseActivity" android:theme="@style/NewTheme" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.soft373.taxi.activities.registration.RegistrationConfirmationActivity" android:theme="@style/NewTheme" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.soft373.taxi.activities.registration.RegistrationFinishActivity" android:theme="@style/NewTheme" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.soft373.taxi.bridge.activities.registration.RegistrationBridgeProgressActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.bridge.activities.registration.RegistrationBridgeStartActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.bridge.activities.registration.RegistrationBridgeStartConfirmationActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.bridge.activities.registration.RegistrationBridgePersonalActivity" android:theme="@style/NewTheme" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.soft373.taxi.bridge.activities.registration.RegistrationBridgeHomeCityActivity" android:theme="@style/NewTheme" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.soft373.taxi.bridge.activities.registration.RegistrationBridgePassportActivity" android:theme="@style/NewTheme" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.soft373.taxi.bridge.activities.registration.RegistrationBridgeDriverLicenseActivity" android:theme="@style/NewTheme" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.soft373.taxi.bridge.activities.registration.RegistrationBridgeVehicleRegistrationCertificateActivity" android:theme="@style/NewTheme" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.soft373.taxi.bridge.activities.registration.RegistrationBridgeTaxiLicenseActivity" android:theme="@style/NewTheme" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.soft373.taxi.bridge.activities.registration.RegistrationBridgeConfirmationActivity" android:theme="@style/NewTheme" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.soft373.taxi.bridge.activities.registration.RegistrationBridgeFinishActivity" android:theme="@style/NewTheme" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.soft373.taxi.activities.MessageActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.messages.NewMessageActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.messages.AuthMessageActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.messages.NewMessagePushActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.messages.NewInterviewPushActivity" android:screenOrientation="portrait" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.messages.SendMessageActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.messages.SendCustomMessageActivity" android:theme="@style/NewTheme" android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity android:configChanges="orientation|screenLayout|screenSize" android:name="com.soft373.taxi.activities.startcarshift.DriverSelectActivity" android:theme="@style/NewTheme"/>
        <activity android:configChanges="orientation|screenLayout|screenSize" android:name="com.soft373.taxi.activities.startcarshift.WayBillActivity" android:screenOrientation="portrait" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.startcarshift.StartCarShiftOptionsActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.startcarshift.StartCarShiftPasswordActivity" android:theme="@style/NewTheme" android:windowSoftInputMode="adjustResize|stateUnchanged"/>
        <activity android:name="com.soft373.taxi.activities.startcarshift.StartCarShiftWebBrowserNewsActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.startcarshift.CentralKassStartActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.startcarshift.CentralKassRegistrationActivity" android:theme="@style/NewTheme" android:windowSoftInputMode="adjustPan|stateUnchanged"/>
        <activity android:name="com.soft373.taxi.activities.SendFileActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.ErrorActivity" android:theme="@style/AppDialogTheme"/>
        <activity android:name="com.soft373.taxi.activities.OrdersActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.FreeOrdersActivity" android:theme="@style/NewTheme"/>
        <activity android:launchMode="singleTop" android:name="com.soft373.taxi.activities.TaximeterActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.TaximeterResultsActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.TariffSelectorActivity" android:theme="@style/NewTheme"/>
        <activity android:configChanges="orientation|screenLayout|screenSize" android:name="com.soft373.taxi.activities.OrderActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.CurrentOrderActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.messages.MessageHistoryActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.messages.ComplexMessageActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.messages.ChatMessageActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.messages.SelectMessageThreadActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.OsmMapActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.WebBrowserActivity" android:screenOrientation="portrait" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.PreLoaderSettingsActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.activities.WantHomeActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.bridge.activities.BridgeOrdersActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.bridge.activities.BridgeOrderStateActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.bridge.activities.BridgePaymentActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.bridge.activities.SettingsBridgeActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.bridge.activities.AuthBridgeActivity" android:theme="@style/NewTheme"/>
        <activity android:name="com.soft373.taxi.bridge.activities.MainMenuBridgeActivity" android:theme="@style/NewTheme"/>
        <service android:foregroundServiceType="specialUse" android:name="com.soft373.taxi.services.NetworkService"/>
        <service android:foregroundServiceType="specialUse" android:name="com.soft373.taxi.services.TaximeterService"/>
        <service android:foregroundServiceType="specialUse" android:name="com.soft373.taxi.services.NewOrdersService"/>
        <service android:foregroundServiceType="specialUse" android:name="com.soft373.taxi.services.NewOrdersServiceBase"/>
        <service android:foregroundServiceType="specialUse" android:name="com.soft373.taxi.bridge.services.BridgeRegistrationService"/>
        <service android:foregroundServiceType="specialUse" android:name="com.soft373.taxi.services.RegistrationService"/>
        <service android:exported="false" android:name="com.soft373.services.TaxiFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="false" android:foregroundServiceType="specialUse" android:name="com.soft373.taxi.services.FloatingPriceService"/>
        <service android:exported="false" android:name="com.soft373.services.NotificationListenerMyService" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <service android:foregroundServiceType="specialUse" android:name="com.soft373.taxi.bridge.services.BridgeInnerService"/>
        <service android:foregroundServiceType="specialUse" android:name="com.soft373.taxi.bridge.services.BridgeOuterService"/>
        <receiver android:exported="false" android:name="com.soft373.taxi.receivers.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.soft373.taxi.receivers.PackageAddedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.soft373.taxi.receivers.SystemEventsReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <data android:scheme="file"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.soft373.taxi.utils.intents.camera.CameraTakePictureActivity"/>
        <provider android:authorities="com.taptaxi.terminal.provider" android:enabled="true" android:exported="true" android:name="com.soft373.taxi.InternalSpaceContentProvider"/>
        <provider android:authorities="com.taptaxi.terminal.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/ic_logo_broadcast"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <uses-library android:name="androidx.camera.extensions.impl" android:required="false"/>
        <service android:enabled="false" android:exported="false" android:name="androidx.camera.core.impl.MetadataHolderService">
            <meta-data android:name="androidx.camera.core.impl.MetadataHolderService.DEFAULT_CONFIG_PROVIDER" android:value="androidx.camera.camera2.Camera2Config$DefaultProvider"/>
        </service>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED" android:value="true"/>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.ndk.CrashlyticsNdkRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.FirebaseCrashlyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:enabled="true" android:exported="false" android:name="com.mapbox.common.location.LocationUpdatesReceiver">
            <intent-filter>
                <action android:name="com.mapbox.common.location.LocationUpdatesReceiver.ACTION_PROCESS_LOCATION_UPDATES"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.mapbox.common.LifecycleService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <provider android:authorities="com.taptaxi.terminal.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <uses-library android:name="android.ext.adservices" android:required="false"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <activity android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent"/>
    </application>
</manifest>
